llama-index
llama-index-llms-openai-like
llama-index-embeddings-huggingface
llama-index-graph-stores-neo4j
llama-index-vector-stores-neo4jvector
llama-index-vector-stores-chroma
langchain
langchain-neo4j
langgraph
langsmith
neo4j
chromadb
certifi
streamlit
python-dotenv
pydantic
pandas
sentence-transformers
torchvision==0.28.0
